
.specialist__card {
    background: #F7F7F7;
    color: inherit;
    text-decoration: none;
    width: calc(33.3333333333% - 25px);
    margin: 0 12.5px 25px;
    padding: 32px 25px 60px;
    letter-spacing: 0px;
    display: block;
  }

  .specialist__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12.5px 57px;
  }

  .specialist__card__top__row {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
  }

  .specialist__card__image {
    font-size: 0;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #FB678D;
    padding: 4px;
    max-width: 106px;
    margin-right: 16px;
    transition: 0.25s;
  }

  .specialist__card__name {
    flex: 1;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    margin-top: -16px;
  }

  .specialist__card__info__item__title {
    font-weight: 500;
    margin-bottom: 2px;
  }

  .specialist__card__info__item {
    margin-bottom: 19px;
  }

  .specialist__card__info__item:last-child {
    margin-bottom: 0;
  }

  .specialist__card:hover {
    background: #FB678D;
    color: #fff;
  }

  .specialist__card:hover .specialist__card__image {
    border-color: #fff;
    background: #FB678D;
  }

  .specialist__card__image img {
    border-radius: 50%;
  }

  .specialist__top {
    display: flex;
    align-items: center;
    margin: 40px 0 44px;
  }

  .specialist__top__image {
    max-width: 376px;
    border: 10px solid #FB678D;
    border-radius: 50%;
    font-size: 0;
    padding: 18px;
    margin-right: 24px;
  }

  .specialist__top__image img {
    border-radius: 50%;
  }

  .specialist__top__info {
    font-size: 20px;
    margin-top: -24px;
    letter-spacing: 0;
  }

  .specialist__top__info__item {
    margin-bottom: 30px;
    max-width: 620px;
  }

  .specialist__top__info__item:last-child {
    margin-bottom: 0;
  }

  .specialist__top__info__item__title {
    font-weight: 500;
  }

  .specialist__text {
    font-size: 20px;
    padding: 0 28px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    max-width: 1100px;
    margin-bottom: 65px;
  }

  .specialist__text li {
    margin-bottom: 28px;
  }


.specialist__text li:last-child {
    margin-bottom: 0;
}

.specialist__title {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
}

.specialist__title__text {
    font-family: 'Playfair Display';
    flex: 1;
    margin-left: 25px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: 0;
}

.specialist__doc__list {
    display: flex;
    flex-wrap: wrap;
    margin: -5px -12.5px 50px;
}

.specialist__doc {
    margin: 0 12.5px;
    display: flex;
    flex-direction: column;
    width: calc(100% / 4 - 25px);
    margin-bottom: 45px;
}

.specialist__doc__image {
    font-size: 0;
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.specialist__doc__title {
    max-width: 220px;
}

.specialist__doc--size-3 {
    width: calc(100% / 3 - 25px);
}

.btn__y {
    background: linear-gradient(180deg, #c4eaa6 0, #8bb667 100%);
    margin: 0 auto;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
    font-weight: 700;
    font-size: 20px;
    padding: 30px;
    line-height: 1;
    width: 100%;
    max-width: 375px;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
}

.specialist__doc__image:before {
    background-image: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39 39L30.2641 30.2485M18.5526 11.7368V18.5526M18.5526 18.5526V25.3684M18.5526 18.5526H25.3684M18.5526 18.5526H11.7368M35.1053 18.5526C35.1053 22.9427 33.3613 27.1529 30.2571 30.2571C27.1529 33.3613 22.9427 35.1053 18.5526 35.1053C14.1626 35.1053 9.95237 33.3613 6.84815 30.2571C3.74393 27.1529 2 22.9427 2 18.5526C2 14.1626 3.74393 9.95237 6.84815 6.84815C9.95237 3.74393 14.1626 2 18.5526 2C22.9427 2 27.1529 3.74393 30.2571 6.84815C33.3613 9.95237 35.1053 14.1626 35.1053 18.5526Z' stroke='white' stroke-width='3.89474' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: rgb(255 166 202 / 80%);
    opacity: 0;
    transition: 0.25s ease-in-out;
    transform: scale(0.9);
    position: absolute;
}


.specialist__doc__image:hover:before {
    opacity: 1;
    transform: scale(1);
}

.btn__y__wrap {
    display: flex;
    justify-content: center;
}

.main__section--specialist {
    padding-bottom: 125px;
}

.btn__y:before {
    top: 0;
    background: #FFFFFF;
    opacity: 0.5;
    width: 70px;
    height: 100%;
    transform: skew(-20deg);
    content: '';
    position: absolute;
    left: -170px;
    transition: .25s;
    animation: 2s ease-in-out btn_y infinite;
}

.btn__y {
    transition: 0s
}

.btn__y:hover {
    background: #8bb667;
}

.btn__y:hover:before {
    opacity: 0 !important
}

@keyframes btn_y {
    0% {
        left: -200%;
        opacity: 0
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        left: 200%
    }
}

.btn__y__inner {
    position: relative;
    z-index: 2;
}
.specialist__card__more{display: none;}


@media screen and (max-width: 1100px) {


    .specialist__top__image {
        max-width: 300px;
        border-width: 7px;
        padding: 10px;
    }

    .specialist__top__info {
        font-size: 18px;
        max-width: 430px;
    }

    .specialist__top {
        margin: 32px 0;
    }

    .specialist__text {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .specialist__title__text {
        font-size: 30px;
        margin-left: 20px;
    }

    .specialist__title img {
        width: 60px;
    }

    .specialist__title {
        margin-bottom: 35px;
    }

    .specialist__card {
        width: calc(50% - 25px);
        padding: 25px 20px 27px;
    }

    .specialist__card__info {
        font-size: 14px;
    }

    .specialist__card__name {
        font-size: 16px;
        line-height: 1.35;
        margin-top: -6px;
    }

    .specialist__card__image {
        max-width: 88px;
        margin-right: 21px;
    }
    .specialist__card__top__row {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 700px) {
.specialist__card__more {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        margin-top: 20px;
        border: 1.5px solid;
        border-radius: 100px;
        max-width: 290px;
        padding: 11px;
    }
    .specialist__card__more:hover, .specialist__card:hover .specialist__card__more {
        background: #fff;
        color: #000;
        border-color: transparent;
    }
    .specialist__card {
        width: 100%;
        margin: 0 0 12px;
    }

    .specialist__list {
        margin: 0 0 15px;
    }

    .title_x {
        font-size: 32px;
        line-height: 1.25;
    }

    .specialist__top__info {
        margin: 0;
        font-size: 15px;
    }

    .specialist__top {
        flex-direction: column;
        margin-bottom: 44px;
    }

    .specialist__top__image {
        max-width: 200px;
        border-width: 6px;
        padding: 8px;
        margin: 0 0 20px;
    }

    .specialist__top__info__item {
        margin-bottom: 21px;
    }

    .specialist__text {
        font-size: 15px;
        padding: 0 0 0 18px;
        margin-bottom: 32px;
        line-height: 1.5;
    }

    .specialist__text li {
        margin-bottom: 22px;
    }

    .specialist__title img {
        width: 45px;
    }

    .specialist__title__text {
        font-size: 24px;
        line-height: 1.15;
    }

    .specialist__title {
        margin-bottom: 28px;
    }

    .specialist__doc {
        width: calc(100% / 3 - 25px);
        margin-bottom: 32px;
    }

    .specialist__doc__image img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .specialist__doc__title {
        font-size: 13px;
    }
}


@media screen and (max-width: 500px) {
    .specialist__doc {
        width: calc(100% / 2 - 25px);
        margin-bottom: 20px;
    }

    .specialist__doc__image img {
        height: auto;
    }

    .specialist__doc--size-3 {
        width: calc(100% - 25px);
    }

    .specialist__doc__title {
        font-size: 14px;
        max-width: 100%;
        line-height: 1.25;
    }

    .specialist__doc__image {
        margin-bottom: 12px;
    }
    .btn__y {
        font-size: 16px;
        padding: 22px;
    }

    .specialist__doc__list {
        margin-bottom: 20px;
        margin-top: 0;
    }

    .main__section--specialist {
        padding-bottom: 55px;
    }
}