.price__tr__title:before {
  background: #FB678D;
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc((100vw - 1180px) / -2);
}

.price__tr {
  position: relative;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0;
  border-bottom: 1px solid #525252;
  padding: 25px 0;
}

.price__tr__inner {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__tr__title {
  color: #fff;
  border-bottom: none;
  padding: 29px 0px;
  margin-top: -1px;
}

.price__td--title {
  flex: 1;
  padding-right: 50px;
  letter-spacing: 0.02em;
}

.price__td--val {
  font-weight: 500;
  width: 180px;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.price__tr__title .price__td--val {
  width: 350px;
  font-size: 24px;
  text-align: right;
  padding-right: 12px;
}

.price__tr__title .price__td--title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0;
}

.price__table {
  margin-bottom: 60px;
}

.main__section--price {
  padding-bottom: 65px;
}

.price__tr__action:before {
  background: #534859;
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc((100vw - 1180px) / -2);
}

.price__tr__action {
  border: none;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0px 21px;
  margin-top: -1px;
  letter-spacing: 0;
}

.main__section--price .title_x {
  padding-top: 13px;
  margin-bottom: 31px;
}

span.price__td__price--old {
  text-decoration: line-through;
}




@media screen and (max-width: 1220px) {

  .price__tr__title:before,
  .price__tr__action:before {
    left: -20px;
  }

  .main__section--price .title_x {
    padding: 5px 0 0;
    margin-bottom: 25px;
  }
}


@media screen and (max-width: 850px) {

  .price__tr__title .price__td--title {
    font-size: 20px;
  }

  .price__tr__title .price__td--val {
    font-size: 20px;
    width: 300px;
  }

  .price__tr {
    font-size: 15px;
    padding: 20px 0;
  }

  .price__td--val {
    width: 90px;
    text-align: right;
  }

  .price__tr__inner {
    align-items: flex-start;
  }

  .price__tr__action {
    font-size: 20px;
    padding: 14px 0 16px;
  }

  .price__tr__title {
    padding: 20px 0 18px;
  }
}

@media screen and (max-width: 800px) {

  .price__tr__action:before,
  .price__tr__title:before {
    left: -15px;
  }
}

@media screen and (max-width: 600px) {
  .price__tr__title .price__td--val {
    width: 50%;
    padding-left: 5px;
  }

  .price__tr__title .price__td--title {
    width: 50%;
    padding-right: 5px;
  }

  .price__tr__action .price__td--title {
    padding-right: 0;
  }

  .price__td--val:empty {
    display: none;
  }
}