.page__404__content {
    display: flex;
    align-items: center;
    margin: -42px 0 0;
    padding-bottom: 160px;
}

.page__404__info {
    max-width: 550px;
    margin-right: 50px;
}

.page__404__info__text {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 54px;
}

.main__section--404 {
    overflow: hidden;
}

.page__404__image {
    position: relative;
    flex: 1;
    height: 602px;
    margin-top: 24px;
}


.page__404__image:before,
.page__404__image:after {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 30C16.5685 30 30 16.5685 30 0C30 16.5685 43.4315 30 60 30C43.4315 30 30 43.4315 30 60C30 43.4315 16.5685 30 0 30Z' fill='%23534859'/%3E%3C/svg%3E%0A");
    content: "";
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    display: block;
    position: absolute;
    left: 64px;
    top: -20px;
}

.page__404__image:after {
    top: auto;
    bottom: -110px;
    right: -296px;
    left: auto;
    width: 90px;
    height: 90px;
}

.page__404__image__inner {
    position: absolute;
    width: calc(100% + (100vw - 1180px) / 2);
    border: 1px solid #534859;
    border-radius: 292.613px 0 0 296.5px;
    height: 100%;
    padding: 6px 0 6px 6px;
    font-size: 0;
}

.page__404__image__inner__view {
    background: linear-gradient(0deg, #ECE6E1, #ECE6E1);
    position: absolute;
    width: calc(100% - 10px);
    left: 10px;
    top: 10px;
    height: calc(100% - 20px);
    border-radius: 300px 0 0 300px;
}

.page__404__info__title {
    font-weight: 500;
    font-size: 130px;
    line-height: 1.1;
    margin-bottom: 40px;
}

.page__404__image__inner .single__promo__image__icon {
    height: auto;
    width: 82px;
}

.page__404__image__inner .single__promo__image__info {
    padding: 5px 29px;
}

.page__404__image__inner .single__promo__image__text {
    margin-left: 30px;
}



@media screen and (max-width: 1250px) {
    .page__404__info__title {
        font-size: 90px;
    }

    .page__404__info__text {
        font-size: 18px;
    }

    .page__404__info {
        max-width: 330px;
    }

    .page__404__image__inner {
        width: auto;
        right: -28px;
        left: 0;
    }

    .page__404__image:after {
        right: 0px;
        bottom: -120px;
        width: 65px;
        height: 65px;
    }
}


@media screen and (max-width: 1000px) {

    .page__404__info__title {
        font-size: 64px;
        margin-bottom: 25px;
    }

    .page__404__info__text {
        font-size: 16px;
        margin-bottom: 27px;
    }

    .page__404__info__text br {
        display: none;
    }

    .page__404__image {
        height: 400px;
    }

    .page__404__image__inner .single__promo__image__icon {
        width: 65px;
    }

    .page__404__image:before {
        left: 0px;
        top: -10px;
        width: 44px;
        height: 44px;
    }
}



@media screen and (max-width: 800px) {

    .page__404__content {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding-bottom: 85px;
        padding-top: 50px;
    }

    .page__404__info {
        margin: 0;
    }

    .page__404__info__title {
        font-size: 100px;
    }

    .page__404__info__text {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .page__404__image {
        width: calc(100% - 20px);
        height: 215px;
        flex: auto;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .page__404__image__inner .single__promo__image__icon {
        width: 32px;
    }

    .page__404__image__inner .single__promo__image__text {
        margin-left: 12px;
        font-size: 12px;
    }

    .page__404__image__inner .single__promo__image__info {
        padding: 8px 15px;
        max-width: 225px;
    }

    .page__404__image:after {
        display: none;
    }
}