.contact__info {
    background: #FFF9F4;
    border-radius: 10px;
    display: inline-flex;
    padding: 30px 27px;
    position: relative;
    width: 100%;
    max-width: 575px;
    margin-bottom: 48px;
}

.contact__info__item svg {
    height: 25px;
    width: 20px;
    margin-right: 18px;
}

.contact__info__item {
    display: flex;
    margin-bottom: 14px;
    max-width: 310px;
}

.contact__info__item:last-child {
    margin-bottom: 0;
}

.contact__info__list {
    font-size: 16px;
}

.contact__info__item__value {
    flex: 1;
    line-height: 1.85;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.contact__info__item__value b {
    margin-bottom: 9px;
    display: block;
    font-size: 20px;
    margin-top: -5px;
    line-height: 1.45;
    font-family: 'Playfair Display';
}

.contact__clinic__list {
    margin-bottom: 30px;
}

.contact__info__btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.02em;
    color: inherit;
    text-decoration: none;
    position: absolute;
    border: 1px solid;
    padding: 14px 43px 17px;
    right: 23px;
    bottom: 32px;
    border-radius: 110px;
}

.contact__info__item__value a {
    color: inherit;
    text-decoration: none;
}

.contact__info__item__value a:hover {
    color: #FB678D;
}

.contact__info__btn:hover {
    background: #FB678D;
    color: #fff;
    border-color: #FB678D;
}

.contact__clinic__list a {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: inherit;
    text-decoration: none;
    width: 50%;
    max-width: 305px;
    border: 1px solid;
    padding: 19px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 210px;
}

.contact__clinic__list a:hover {
    background: rgba(178, 211, 151, 0.3);
}

.contact__map {
    height: 630px;
    position: relative;
    margin-bottom: 85px;
}

.contact__interior__title {
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 28px;
    font-family: 'Playfair Display';
}

.contact__interior__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.contact__interior__btn a {
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 20px;
    border: 1px solid;
    padding: 13px 50px;
    flex: 1;
    max-width: 205px;
    margin: 0 12.5px;
    border-radius: 110px;
}

.contact__interior__btn a.active,
.contact__interior__btn a:hover {
    color: #fff;
    background: #fb678d;
    border-color: #fb678d;
}

.contact__interior__sub__slider__item__inner img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact__interior__sub__slider__item__inner {
    position: relative;
    padding-top: 62.5%;
    margin: 0 12.5px;
}

.slick-arrow {
    border: 1px solid #534859;
    width: 77px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    font-size: 0;
    transition: 0.25s;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    background-color: transparent;
    border-radius: 110px;
}

.slick-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='17' viewBox='0 0 10 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L1 8.5L9 16' stroke='%23534859' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    left: 0;
}

.slick-arrow:hover {
    border-color: #fb678d;
}

.slick-next {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='17' viewBox='0 0 10 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L9 8.5L1 16' stroke='%23534859' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    right: 0;
}

.contact__interior__slider__item__inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    position: absolute;
}

.contact__interior__slider__item__inner {
    padding-top: 51.2825%;
}

.contact__interior__slider {
    padding: 0 102.5px;
    margin-bottom: 25px;
    position: relative;
}

.contact__interior__slider--sub {
    padding: 0 90.5px;
    margin-bottom: 0;
}

.contact__interior__item {
    display: none;
    opacity: 0;
}

.contact__interior__item.active {
    display: block;
    opacity: 1;
}

.contact__interior {
    padding-bottom: 120px;
}

.contact__interior__slider .slick-slide {
    opacity: 0.5;
    transition: 0.25s ease-in-out;
}

.contact__interior__slider .slick-current {
    opacity: 1;
}

.contact__interior__slider .contact__interior__sub__slider__item__inner:before {
    border: 2px solid #FB678D;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: 1;
    opacity: 0;
    transition: 0.25s;
}

.contact__interior__slider .slick-current .contact__interior__sub__slider__item__inner:before {
    opacity: 1;
}

.map__x {
    height: 100%;
}

[class*="ymaps-2-1"][class*="-ground-pane"] {
    -webkit-filter: grayscale(100%);
}

.contact__clinic__list {
    display: none !important
}

@media screen and (max-width: 1000px) {
    .contact__map {
        height: 450px;
        margin: 0 -20px 50px;
        overflow: hidden;
    }
    .contact__map {
        height: 500px;
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 800px) {


    .contact__map {
        height: 350px;
        margin: 0 -15px 50px;
    }

    .contact__interior__title {
        font-size: 32px;
        margin-bottom: 20px;
    }


    .contact__interior__btn a {
        margin: 0 4px;
        font-size: 15px;
        max-width: 270px;
        padding: 16px;
    }

    .contact__interior__btn {
        margin: 0 -4px 8px;
    }

    .contact__info {
        margin-bottom: 35px;
    }

    .contact__clinic__list a {
        padding: 16px;
        max-width: 320px;
    }

    .contact__clinic__list {
        margin-bottom: 24px;
    }

    .contact__interior__slider {
        padding: 0 70px;
        margin-bottom: 8px;
    }

    .contact__interior__slider--sub {
        padding: 0 66px;
        margin-bottom: 0;
    }

    .contact__interior__sub__slider__item__inner {
        margin: 0 4px;
    }

    .contact__info__btn {
        padding: 11px 20px 13px;
        width: 170px;
        font-size: 14px;
    }

.slick-arrow {
    width: 50px;
    height: 50px;
}
}




@media screen and (max-width: 500px) {
    .contact__info__btn {
        position: static;
        width: 215px;
        border-color: #fb678d;
    }

    .contact__info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact__info__list {
        width: 100%;
        margin-bottom: 25px;
    }

    .contact__clinic__list a {
        width: 100%;
        margin: 0;
        flex: auto;
        max-width: 450px;
        margin-bottom: 8px;
    }

    .contact__clinic__list {
        display: flex;
        flex-direction: column;
    }

    .contact__interior__slider {
        padding: 0;
        position: static;
    }

    .contact__interior__sub__slider__item__inner {
        padding-top: 100%;
    }

    .contact__interior__item {
        position: relative;
        padding-bottom: 75px;
    }

    .contact__interior__item .slick-arrow {
        bottom: 0;
        top: auto;
        transform: none;
    }

    .contact__interior__slider--sub {
        margin: 0 -4px;
    }

    .contact__interior__slider__item__inner {
        padding-top: 72%;
    }

    .contact__interior__title {
        line-height: 1.15;
        margin-bottom: 22px;
    }

    .slick-arrow {
        width: 65px;
        height: 45px;
    }

    .contact__interior {
        padding-bottom: 60px;
    }
}