.another__service__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 33px;
    font-family: 'Playfair Display';
}

.another__service__list {
    display: flex;
    margin: 0 -20px -50px;
    flex-wrap: wrap;
}

.another__service__item {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 40px);
    margin: 0 20px 50px;
}

.another__service__item__title {
    margin-bottom: 1px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 0.02em;
}

.another__service__item__title a {
    text-decoration: none;
    color: inherit;
    line-height: 1.35;
}

.another__service__item__image {
    margin-right: 28px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
}

.another__service__item__info {
    flex: 1;
    position: relative;
    padding-bottom: 34px;
}

.another__service__item__more {
    font-weight: 500;
    font-size: 16px;
    color: #FB678D;
    position: absolute;
    right: 38px;
    bottom: -7px;
}

.another__service__item__text {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

.another__service__item__more:hover {
    color: inherit;
    text-decoration: none;
}

.another__service__item__title a:hover {
    color: #FB678D;
}

.another__service__item__image__inner {
    padding-top: 87.5%;
    position: relative;
}

.another__service__item__image__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.another__service__block {
    margin-bottom: 68px;
}

.another__service__item__image:hover {
    opacity: 0.75;
}

.another__service__item__title a b {
    color: #FB678D;
}


@media screen and (max-width: 1000px) {

    .another__service__item__info {
        width: 100%;
        flex: auto;
    }

    .another__service__item__image {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    .another__service__item__image__inner {
        padding-top: 57.5%;
    }

    .another__service__block {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .another__service__item {
        width: 100%;
        margin: 0 0 50px;
    }

    .another__service__list {
        margin: 0;
    }

    .another__service__item__image__inner {
        padding-top: 64%;
    }

    .another__service__item__text {
        font-size: 14px;
    }

    .another__service__item__info {
        padding-bottom: 35px;
    }
}


@media screen and (max-width: 550px) {
    .another__service__list {
        position: relative;
        padding-bottom: 40px;
        margin: 0 -15px;
    }

    .another__service__list .slick-dots {
        bottom: -35px;
    }

    .another__service__item {
        padding: 0 15px;
    }

    .another__service__list .slick-arrow {
        bottom: -25px;
        top: auto;
    }

    .another__service__list .slick-next {
        right: 15px;
    }

    .another__service__list .slick-prev {
        left: 15px;
    }
}