.modal__menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: .25s ease-in-out;
    transform: translate(100%, 0);
    background: #FAF0E7;
    max-width: 843px;

    width: 90%;
    bottom: 0;
    overflow: scroll;
    border-left: 10px solid #FB678D;

    &.active {
        opacity: 1;
        pointer-events: all;
        transform: translate(0%, 0);
    }
}

.modal__menu__inner {
    position: relative;
    padding: 50px 86px;
    max-width: 650px;
}

.modal__menu__top__text {
    font-size: 48px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #464646;
    padding-bottom: 8px;
    font-family: 'Playfair Display';
    font-weight: 500;
}

.modal__menu__nav ul {
    list-style: none;
    border-top: 1px solid;
    margin-bottom: 20px;
    padding-top: 20px;
}

.modal__menu__top {
    position: relative;
}

.btn__close:before,
.btn__close:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    transform: rotate(45deg);
    background: #000;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.btn__close {
    position: absolute;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    appearance: none;
    border-radius: 0;
    transition: 0.25s ease-in-out;
}

.btn__close:hover {
    opacity: 0.75;
}

.modal__menu__btn_close {
    right: 10px;
    top: 10px;
}

.btn__close:after {
    transform: rotate(-45deg);
}

.modal__menu__nav a {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: 0.25s ease-in-out;
}

.modal__menu__nav li {
    margin-bottom: 15px;
}

.modal__menu__nav {
    max-width: 380px;
}

.modal__menu__nav ul:last-child {
    margin-bottom: 0;
}

.modal__menu__nav li:last-child {
    margin-bottom: 0;
}

.modal__menu__nav a:hover {
    color: #FB678D;
    padding-left: 38px;
}

.modal__menu__nav a:hover:before {
    width: 31px;
    margin-right: 10px;
    opacity: 1;
}

.modal__menu__nav a:before {
    background: #FB678D;
    content: '';
    position: absolute;
    left: 0;
    top: 14px;
    height: 3px;
    transition: all 0.25s ease-in-out;
    opacity: 0;
    width: 0;
}

.modal__menu::-webkit-scrollbar {
    display: none;
}

.modal__menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.25s ease-in-out;
    background: #000;

    &.active {
        opacity: 0.25;
        z-index: 5;
    }
}

@media screen and (max-width: 600px) {

    .modal__menu__nav a:before {
        top: 9.5px;
    }

    .modal__menu__inner {
        padding: 40px 20px;
    }

    .modal__menu {
        width: 100%;
        border: none;
        max-width: 400px;
    }

    .modal__menu__top__text {
        font-size: 36px;
        padding-bottom: 20px;
    }

    .modal__menu__nav a {
        font-size: 16px;
    }

    .modal__menu__btn_close {
        top: 0;
        right: -6px;
    }

    .btn__close:after,
    .btn__close:before {
        width: 85%;
    }
}