.main_footer {
    position: relative;
}

.main_footer {
    background: #464646;
    color: #FAF0E7;
    border-top: 6px solid #FB678D;
}

.main_footer__top {
    padding: 70px 0 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-bottom: 1px solid rgb(255 255 255 / 50%);
}

.main_footer__top__title {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 19px;
}

.main_footer__list {
    list-style: none;
    letter-spacing: 0.02em;
}

.main_footer__list a {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1px;
}

.main_footer__list li {
    margin-bottom: 9px;
}

.main_footer__list li:last-child {
    margin-bottom: 0;
}

.main_footer__social a:hover {
    filter: brightness(1);
}

.main_footer__list a:hover {
    color: #FB678D;
    text-decoration: underline;
    margin-bottom: 1px;
}

.main_footer__menu {
    width: 200px;
}

.main_footer__contact {
    width: 280px;
}

.main_footer__contact__item {
    position: relative;
    margin-bottom: 14px;
}

.main_footer__contact__item svg {
    position: absolute;
    top: 3px;
    left: -39px;
}

.main_footer__contact__item__value b {
    font-size: 20px;
    display: block;
    margin-bottom: 1px;
}

.main_footer__contact__item__value {
    line-height: 1.95;
    letter-spacing: 0.02em;
}

.main_footer__contact__item__value a {
    color: inherit;
}

.main_footer__contact__item__value a:hover {
    color: #FB678D;
    text-decoration: none;
}

.main_footer__contact__item:last-child {
    margin-bottom: 0;
}

.main_footer__col--2 {
    margin-left:102px;
}

.main_footer__col--3 {
    margin-left: 98px;
}

.main_footer__col--4 {
    margin-left: 100px;
}

.main_footer__bottom {
    padding: 19px 0 31px;
    display: flex;
    align-items: center;
}

.main_footer__social {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    font-size: 0;
    align-items: center;
    margin-left: 75px;
}

.main_footer__social a {
    padding: 10px;
    margin-left: 15px;
    filter: brightness(3);
}

.main_footer__copyright {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.main_footer__logo {
    font-size: 0;
    width: 64px;
    margin-right: 16px;
}

.main_footer__logo img {
    width: 100%;
}

.main_footer__copyright__text {
    line-height: 1.95;
    padding-top: 4px;
}
.main_footer__bottom__links {
       display: flex;
    flex-direction: column;
    margin-left: 375px;
    font-size: 14px;
    letter-spacing: 0.02em;
    padding-top: 10px;
}

.main_footer__bottom__links a {
    color: inherit;
    text-decoration: none;
    margin: 4px 0;
}

.main_footer__bottom__links a:hover {
    color: #FB678D;
}

.main_footer__social a:first-child {
    margin: 0;
}

.main_footer__contact__list {
    margin-top: -9px;
}

.main_footer__top__title a {
    color: inherit;
    text-decoration: none;
}

.main_footer__top__title a:hover {
    text-decoration: underline;
    color: #f9698d;
}
@media screen and (max-width: 1220px) {
    .main_footer__col--2 {
        margin-left: 10px;
    }

    .main_footer__menu {
        width: 175px;
    }

    .main_footer__col--3 {
        margin-left: 15px;
    }

    .main_footer__col--4 {
        margin-left: 24px;
    }
}

@media screen and (max-width: 1000px) {
    .main_footer__contact {
        width: 100%;
        padding-left: 18px;
        padding-top: 32px;
    }

    .main_footer__contact__list {
        max-width: 300px;
    }

    .main_footer__top {
        padding: 31px 0 50px;
    }

    .main_footer__logo {
        width: 75px;
        margin-right: 25px;
    }

    .main_footer__bottom {
        font-size: 14px;
        justify-content: space-between;
    }

    .main_footer__bottom__links a {
        margin: 3px 0;
    }

    .main_footer__list li {
        margin-bottom: 14px;
    }

    .main_footer {
        border-width: 10px;
    }

    .main_footer__contact .main_footer__top__title {
        margin-left: -38px;
    }

    .main_footer__bottom__links {
        margin: 0 15px;
    }

    .main_footer__social {
        flex: none;
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {

    .main_footer__contact__list {
      margin-top: 24px;
        margin-right: 0;
    }

    .main_footer__top {
        flex-direction: column;
        padding: 40px 0 50px;
    }

    .main_footer__col--2 {
        margin: 0;
    }

    .main_footer__menu {
        width: 100%;
        margin-bottom: 30px;
    }

    .main_footer__top__title {
        font-size: 24px;
        font-family: 'Playfair Display';
        font-weight: 500;
        margin-bottom: 13px;
    }

    .main_footer__col--3 .main_footer__top__title {
        display: none;
    }

    .main_footer__col--3 {
        margin-left: 0;
    }

    .main_footer__col--2 {
        margin-bottom: 14px;
    }

    .main_footer__contact {
        padding-left: 25px;
        padding-top: 0;
        margin-left: 0;
    }

    .main_footer__contact__item__value b {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .main_footer__contact__item__value {
        line-height: 1.6;
    }

    .main_footer__contact__item {
        margin-bottom: 30px;
    }

    .main_footer__list li {
        margin-bottom: 8px;
    }

    .main_footer__contact__item svg {
        width: 15px;
        left: -24px;
        top: 2px;
    }

    .main_footer__contact .main_footer__top__title {
        margin-left: -24px;
    }

    .main_footer__logo {
        width: 60px;
        margin-right: 7px;
    }

    .main_footer__bottom {
        flex-direction: column;
        padding: 28px 0 48px;
    }

    .main_footer__copyright {
        margin-bottom: 12px;
        padding-right: 24px;
    }

    .main_footer__bottom__links {
        margin: 0 0 12px;
        text-align: center;
    }

    .main_footer__bottom__links a {
        margin: 4px 0;
    }
}