.header_main {
    position: relative;
}

.header_main {
    padding: 22px 0 19px;
    background: #3A343E;
    color: #FAF0E7;
}

.header__logo {
    font-size: 0;
}

.header_main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__btn_menu {
    display: none;
}

.header__menu__category ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__menu__add ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.header__menu__category a:before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.header__menu__category a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.header__menu__add {
    border-left: 1px solid #fff;
    padding-left: 42px;
    width: 245px;
}


.header__menu__add a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    line-height: 24px;
}

.header__menu__add li {
    margin: 10px 25px 10px 0;
}

.header__menu__category a:hover {
    color: #FB678D;
}

.header__menu__add a:hover {
    color: #FB678D;
}

.header__menu__add a:before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}



.btn_menu {
    display: flex;
    width: 32px;
    height: 32px;
    position: relative;
    background: transparent;
    border: none;
    appearance: none;
    flex-direction: column;
    margin-left: 5px;
}

.btn_menu span {
    width: 90%;
    height: 2px;
    background: #fff;
    display: block;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: 0.25s ease-in-out;
}

.btn_menu span:nth-child(1) {
    margin-top: 8px;
}

.btn_menu span:nth-child(3) {
    margin-top: 23px;
}

.main__menu {
    padding: 18px 0;
}

.btn_menu.active {
    span {
        &:nth-child(1) {
            transform: translate(3px, 16px) rotate(45deg);
            margin: 0;
        }

        &:nth-child(2) {
            opacity: 0;

        }

        &:nth-child(3) {
            transform: translate(1px, -7px) rotate(-45deg);
        }
    }

}

.header__btn_menu {
    display: none;
}

.header__menu__top ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header__menu__top li {
    margin: 0 46px 0 0;
}

.header__menu__top a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;

    &:hover {
        color: #FB678D;
    }
}

.header__menu__top {
    flex: 1;
    margin-left: 45px;
    margin-right: 50px;
}

.header__menu__top li:last-child {
    margin-right: 0;
}

.header__social {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.header__phone a {
    font-weight: 600;
    font-size: 18px;
    color: inherit;
    text-decoration: none;

    &:hover {
        color: #FB678D;
    }
}



.header__phone a:hover {
    color: #FB678D;
}

.header__phone {
    margin-left: 51px;
}

.header__social a {
    margin-left: 16px;
    filter: brightness(5);
}

.header__social a:hover {
    filter: brightness(1);
}

.header__social a:first-child {
    margin-left: 0;
}

@media screen and (max-width: 1220px) {

    .header__menu__add a {
        font-size: 18px;
    }

    .header__menu__add li {
        margin: 8px 25px 8px 0;
    }

    .header__menu__add {
        width: 225px;
    }
}

@media screen and (max-width: 1000px) {
    .header__logo {
        width: 75px;
    }

    .header__menu__add li {
        margin: 4px 25px 4px 0;
    }

    .header__menu__add a {
        font-size: 16px;
    }

    .header__menu__add {
        width: 210px;
        padding-left: 40px;
    }

    .header__menu__category a {
        font-size: 15px;
    }

    .header__menu__category ul {
        justify-content: flex-start;
    }

    .header__menu__category li {
        margin-right: 30px;
        margin-bottom: 5px;
    }

    .main__menu {
        padding: 17px 0px 10px;
    }
}

@media screen and (max-width: 800px) {
    body{padding-top: 80px;}
    .main__menu {
        display: none;
    }

    .header__logo {
        width: 60px;
    }

    .header_main {
        padding: 10px 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
    }

    .header__social {
        display: flex;
        flex: 1;
        justify-content: center;
        font-size: 0;
        align-items: center;
        padding-top: 0;
    }

    .header__menu__top {
        display: none;
    }

    .header__phone {
        flex: 1;
        margin-left: 0;
    }

    .header__social a {
        padding: 15px;
        filter: brightness(3);
        margin-left: 0;
    }

    .header__social a:hover {
        filter: brightness(1)
    }

    .header__btn_menu {
        display: flex;
        margin-left: 5px;
    }

}


@media screen and (max-width: 500px) {

    .header__phone {
        display: none;
    }
}