html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}




body {
    font-size: 16px;
    font-family: $font;
    background: #FAF0E7;
    line-height: 1.4;
    color: $textColor;
}

body.home {
    padding-top: 0;
}



.btn_default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: 0.25s ease;
}


.main__content {
    padding: 32px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1220px;

    @media screen and (max-width: 800px) {
        padding: 0 15px;
    }
}


.title_x {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.25;
    margin: 0 0 20px;
    letter-spacing: 0;
    font-family: 'Playfair Display';
}


.form__field {
    position: relative;
    margin-bottom: 16px;

    &--btn {
        margin-bottom: 0;
        margin-top: 24px;
    }

    input {
        width: 100%;
        padding: 14px 20px;
        line-height: 1;
        border: none;
        border-bottom: 1px solid #000000;
        border-radius: 0;
        -webkit-appearance: none;
        text-align: center;
    }

    textarea {
        width: 100%;
        padding: 14px 20px;
        line-height: 1.5;
        border: 1px solid rgba($black, 0.3);
        border-radius: 4px;
        resize: vertical;
        min-height: 100px;
        -webkit-appearance: none;
    }
}




.--hide {
    display: none;
}


.breadcrumbs {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin: 40px 0 35px;
}

.breadcrumbs ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumbs a {
    color: inherit;
    text-decoration: none;
}

.breadcrumbs span {
    color: #FB678D;
}

.breadcrumbs a:hover {
    color: #FB678D;
    font-weight: bold;
}

.breadcrumbs li:after {
    content: "";
    width: 7px;
    height: 7px;
    background: #E23379;
    display: inline-flex;
    margin: 1px 7.5px 1px 11.5px;
    border-radius: 50%;
}

.breadcrumbs a:before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


.breadcrumbs li:last-child:after {
    display: none;
}

.breadcrumbs li {
    display: flex;
    align-items: center;
}

.btn__x__border {
    background: transparent;
    box-shadow: 0px 8px 64px rgb(0 0 0 / 8%);
    border-radius: 100px;
    display: inline-flex;
    padding: 19px 49px;
    border: 2px solid #FB678D;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #534859;
    width: 100%;
    max-width: 310px;
    justify-content: center;
}

.btn__x__border:hover {
    background: #FB678D;
    color: #fff;
    border-color: #FB678D;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 0;
    margin: 50px 0;
    position: absolute;
    right: 0;
    left: 0;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    width: 7px;
    height: 7px;
    font-size: 0;
    background: rgba(58, 52, 62, 0.2);
    border: none;
    border-radius: 50%;
    appearance: none;
    transition: 0.25s;
}


.slick-dots .slick-active button {
    background: #fb678d;
    width: 30px;
    border-radius: 20px;
}

@media screen and (max-width: 1100px) {

    .title_x {
        font-size: 36px;
    }
}

@media screen and (max-width: 800px) {
    .breadcrumbs {
        margin: 0;
        padding: 22px 0;
        font-size: 15px;
    }

    .breadcrumbs li {
        margin: 1px 0;
    }
}

@media screen and (max-width: 500px) {
    .btn__x__border {
        font-size: 16px;
        padding: 17px;
    }
}



.js-reveal-slideUp,
.js-reveal-fadeIn,
.js-reveal-slideLeft,
.js-reveal-slideRight,
.js-reveal-scale,
.js-reveal-slideUp--specialists {
    visibility: hidden;
}

.loaded a {
    transition: 0.25s ease-in-out;
}