.modal__default {
    display: none;
    padding: 0;
    max-width: 620px;
    color: $textColor;
    width: 100%;
}

.modal__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 25px;
    font-family: 'Playfair Display';
}

.modal__route {
    padding: 55px 100px;
    max-width: 1175px;
}

.modal__text__route__col__title {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000000;
    margin-bottom: 22px;
    padding-left: 20px;
}

.modal__text__route {
    display: flex;
    flex-wrap: wrap;
}

.modal__text__route__col {
    width: 50%;
}

.modal__text__route__col__list {
    padding: 0 65px;
    max-width: 470px;
    position: relative;
}

.modal__text__route__col__list ul {
    list-style: none;
}

.modal__text__route__col__list li {
    margin-bottom: 20px;
    line-height: 1.45;
    position: relative;
}

.modal__text__route__col__list li:last-child {
    margin-bottom: 0;
}

.modal__text__route__col__list li:after {
    border-left: 1px dashed #534859;
    height: calc(100% + 13px);
    width: 1px;
    position: absolute;
    content: '';
    opacity: 0.5;
    top: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.5' fill='white' stroke='%23534859'/%3E%3C/svg%3E%0A");
    left: -35.5px;
}

.modal__text__route__col__list li:before {
    position: absolute;
    content: '';
    width: 22px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 50%;
    left: -46px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.5' fill='white' stroke='%23534859'/%3E%3C/svg%3E%0A");
    margin-top: 0px;
    z-index: 1;
}

.modal__text__route__col__list li:first-child:before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='28' viewBox='0 0 22 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 0C8.08369 0.00344047 5.28779 1.16347 3.22564 3.22563C1.16348 5.28778 0.00345217 8.08367 1.17029e-05 11C-0.00348119 13.3832 0.774992 15.7018 2.21601 17.6C2.21601 17.6 2.51601 17.995 2.56501 18.052L11 28L19.439 18.047C19.483 17.994 19.784 17.6 19.784 17.6L19.785 17.597C21.2253 15.6996 22.0034 13.3821 22 11C21.9966 8.08367 20.8365 5.28778 18.7744 3.22563C16.7122 1.16347 13.9163 0.00344047 11 0ZM7.00013 11.0304C6.99996 11.0089 6.99997 10.9875 7.00015 10.966C7.00915 9.88424 7.44758 8.90483 8.15333 8.18995C8.15939 8.1838 8.16548 8.17768 8.17158 8.17157C8.19344 8.14972 8.21552 8.12814 8.23784 8.10684C8.94827 7.42837 9.90821 7.00894 10.9661 7.00014C10.9875 6.99996 11.009 6.99995 11.0304 7.00011C13.2255 7.01645 15 8.801 15 11C15 13.2091 13.2092 15 11 15C8.80101 15 7.01646 13.2255 7.00013 11.0304Z' fill='%23FB678D'/%3E%3C/svg%3E%0A");
}

.modal__text__route__col__list li:last-child:after {
    display: none;
}

.modal__text__route__col__list li:last-child:before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V24H2V16H22V0H0ZM2 2H5V5H8V2H11V5H14V2H17V5H20V8H17V11H20V14H17V11H14V14H11V11H8V14H5V11H2V8H5V5H2V2ZM5 8V11H8V8H5ZM8 8H11V5H8V8ZM11 8V11H14V8H11ZM14 8H17V5H14V8Z' fill='%23FB678D'/%3E%3C/svg%3E%0A");
    top: 8px;
}

.fancybox__content>.carousel__button.is-close {
    top: 7px;
    right: 7px;
}

.carousel__button svg {
    filter: none;
}

.carousel__button path {
    stroke: #FB678D;
    stroke-width: 2px;
}
.carousel__button circle {
    stroke: #FB678D;
}

.modal__call {
    max-width: 775px;
    padding: 55px 20px 60px;
}
.modal__inner{width: 100%;}

.modal__call .modal__inner {
    max-width: 380px;
    margin: 0 auto;
    text-align: center;
}

.modal__title__call {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 15px;
    letter-spacing: 0;
    font-family: 'Playfair Display';
}

.modal__text__call {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.35;
}

.modal__text__call b {
    color: #FB678D;
}


.modal__thanks .modal__inner {
    max-width: 395px;
    padding: 55px 10px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal__icon__call {
    margin-bottom: 28px;
}

.btn__style__2 {
    width: 100%;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    background: rgba(178, 211, 151, 0.3);
    border: 1px solid #534859;
    padding: 20px;
    transition: 0.25s ease-in-out;
}

.btn__style__2:hover {
    color: #fff;
    background: #FB678D;
    border-color: #FB678D;
}

.btn__modal__call {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.modal__text {
    max-width: 975px;
    padding: 80px 100px;
}

.modal__block_before_after {
    display: flex;
    max-width: 670px;
    width: 95%;
    margin: 0 -11px;
    margin-bottom: 32px;
}

.modal__block_before_after__item {
    margin: 0 11px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.modal__block_before_after__item__label {
    background: #FAD0D1;
    height: 47px;
    position: absolute;
    bottom: 0;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    border-radius: 30px 0 0 30px;
    right: 0;
}

.modal__block_before_after__item__inner {
    font-size: 0;
}

.modal__block_before_after__item+.modal__block_before_after__item .modal__block_before_after__item__label {
    right: auto;
    left: 0;
    border-radius: 0 30px 30px 0;
}

.modal__block_text__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
/* or 28px */
    letter-spacing: 0.02em;
    margin-bottom: 18px;
}

.modal__block_text {
    line-height: 150%;
/* or 22px */
    letter-spacing: 0.02em;
    margin-bottom: 100px;
}

.modal__block_text p {
    margin-bottom: 24px;
}

.modal__block_text p:last-child {
    margin-bottom: 0;
}

.modal__block__who__image {
    border: 3px solid #FB678D;
    width: 60px;
    font-size: 0;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}

.modal__block__who__image img {
    border-radius: 50%;
}

.modal__block__who {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    ;
}

.modal__block__who__title__value {
    font-weight: 500;
}

.modal__block__who__title__name {
    font-weight: 700;
}

.modal__block__bottom {
    position: relative;
}

.modal__block__more__image {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    font-size: 0;
    border-radius: 8px;
    overflow: hidden;
}

.modal__block__who {
    width: calc(100% - 330px);
}

.modal__block__more__image__inner {
    padding-top: 75%;
    position: relative;
}

.modal__block__more__image__inner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 1100px) {
    .modal__block__more__image {
        position: static;
        max-width: 400px;
        width: auto;
        margin-bottom: 30px;
    }

    .modal__block__who {
        width: 100%;
    }
.modal__text {
    max-width: 650px;
    padding: 44px;
}

.modal__block_text {
    margin-bottom: 50px;
}
    .modal__route {
        padding: 40px 30px;
    }

    .modal__text__route__col__list {
        font-size: 15px;

        padding-right: 30px;

    }

    .modal__text__route__col__title {
        font-size: 20px;
    }

    .modal__title {
        font-size: 32px;
    }

    .modal__text__route__col__list li {
        margin-bottom: 25px;
    }
}



@media screen and (max-width: 700px) {
    .modal__route {
        padding: 26px 18px;
    }

    .modal__text__route {
        flex-direction: column;
    }

    .modal__text__route__col {
        width: 100%;
        margin-bottom: 32px;
    }

    .modal__text__route__col__title {
        font-size: 16px;
        padding-left: 0;
        padding-bottom: 12px;
    }

    .modal__route {
        max-width: 450px;
    }

    .modal__text__route__col__list {
        font-size: 14px;
        padding: 0 45px;
    }

    .modal__text__route__col:last-child {
        margin-bottom: 0;
    }

    .modal__title {
        margin-bottom: 20px;
    }

    .modal__title__call {
        font-size: 32px;
    }

    .modal__text__call {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .modal__call .modal__inner {
        width: 100%;
    }

    .modal__call {
        max-width: 400px;
        padding: 55px 15px;
    }
    .modal__block_text {
        font-size: 13px;
        margin-bottom: 32px;
        line-height: 1.55;
    }

    .modal__block_before_after__item__label {
        font-size: 14px;
        height: 32px;
        width: 80px;
    }

    .modal__block_before_after {
        width: 100%;
        margin: 0 -5px 15px;
    }

    .modal__block_before_after__item {
        margin: 0 5px;
    }

    .modal__block_text__title {
        font-size: 15px;
        margin-bottom: 18px;
    }

    .modal__block__who {
        margin-bottom: 32px;
    }

    .modal__text {
        width: calc(100% - 20px);
        padding: 52px 20px 40px;
    }

}




