.home__info__wrap {
    display: flex;
    justify-content: space-between;
    margin: 80px 0 178px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.home__image {
    width: 475px;
    border: 1px solid;
    border-radius: 400px;
    padding: 7px;
    font-size: 0;
    position: relative;
    margin-top: 30px;
}

.home__info {
    flex: 1;
    padding-right: 50px;
    max-width: 625px;
}

.home__image img {
    border-radius: 400px;
}

.home__image:before,
.home__image:after {
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 40C22.0913 40 39.9999 22.0914 39.9999 0C39.9999 0 40 0 40 0C40 22.0914 57.9086 40 80 40C57.9086 40 40 57.9086 40 80C40 57.9086 22.0914 40 0 40Z' fill='%23534859'/%3E%3C/svg%3E%0A");
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    display: block;
    background-size: contain;
    background-position: 50%;
}

.home__image:before {
    top: -15px;
    left: -17px;
}

.home__image:after {
    right: -14px;
    bottom: -8px;
}

.title_x__home {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 43px;
}

.home__info__text p {
    margin-bottom: 19px;
    line-height: 140%;
}

.home__info__text p:last-child {
    margin-bottom: 0;
}

.home__info__text {
    letter-spacing: 0.02em;
}

.btn__x {
    background: #FB678D;
    box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    display: inline-flex;
    padding: 20px 49px;
    border: 2px solid #FB678D;
}

.home__info__btn__wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 55px;
}

.btn__x:hover {
    border-color: #000;
    background: transparent;
    color: #000;
}

.home__info__about__add__info b {
    color: #FB678D;
}

.home__info__about__add__info {
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 0.02em;
}

.home__info__about__name {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10px;
}


.home__promo .container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1770px;
    height: 100%;
    padding: 32px 20px;
}

.home__promo {
    position: relative;
    height: 100vh;
    min-height: 750px;
    overflow: hidden;
}

.main__section--home {
    overflow: hidden;
}

.home__promo__info__title {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 80px;
    line-height: 1.35;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    right: 0;
    left: 0;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.home__promo__logo {
    top: 0;
    left: 0;
    width: 92px;
    display: block;
    position: absolute;
    left: 0;
    top: 32px;
    border-radius: 100px;
    font-size: 0;
}

.home__promo__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(10);
}

.home__promo__menu__item__image {
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    bottom: -2px;
    left: -2px;
    right: -2px;
    font-size: 0;
    overflow: hidden;
    transition: 0.25s ease-in-out;
    opacity: 0;
    transform: scaleY(1) translate(0px, 20px);
    transform-origin: 0 100%;
    z-index: -1;
    pointer-events: none;
}

.btn_home__promo:hover {
    background: rgb(255 255 255 / 50%);
    color: #000000;
    border-color: transparent;
}

.home__promo__social a:hover path {
    fill: #fb678d;
}

.home__promo__social a path {
    transition: 0.25s;
}

.home__promo__menu__item:hover .home__promo__menu__item__image {
    transform: scaleY(1) translate(0px, 0px);
    opacity: 1;
    pointer-events: all;
    z-index: 1;
}

.home__promo__menu__item__image:before {
    background: linear-gradient(0deg, #FB678D 0%, rgba(255, 166, 202, 0) 53.81%);
    border-radius: 29px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.home__promo__menu__item__image:after {
    border: 1px solid #FFFFFF;
    border-radius: 22px;
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}

.home__promo__menu__item:hover .home__promo__menu__item__title {
    transform: translate(0px, -7.5px);
}

.home__promo__menu--top .home__promo__menu__item .home__promo__menu__item__image {
    bottom: auto;
    top: -2px;
    transform-origin: 0 0%;
    transform: scaleY(1) translate(0px, -20px);
}

.home__promo__menu--top .home__promo__menu__item:hover .home__promo__menu__item__image {
    transform: scaleY(1) translate(0px, 0px);
}

.home__promo__menu--top .home__promo__menu__item:hover .home__promo__menu__item__title {
    transform: translate(0, 7.5px);
}

.home__promo__menu__item {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 29px;
    color: #000;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 0 12.5px;
    max-width: 275px;
    flex: 1;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    position: relative;
}

.home__promo__menu__item__title {
    font-weight: 600;
    font-size: 18px;
    position: relative;
    z-index: 2;
    line-height: 140%;
    transition: 0.25s ease-in-out;
}

.home__promo__image {
    font-size: 0;
}

.home__promo__menu_btn {
    right: 0;
    width: 75px;
    position: absolute;
    top: 60px;
}

.home__promo__menu_btn .btn_menu {
    width: 100%;
    margin: 0;
}

.home__promo__menu {
    position: absolute;
    left: 200px;
    right: 180px;
    margin: auto;
    max-width: 1220px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.home__promo__menu--top {
    top: 50px;
}

.home__promo__info {
    position: absolute;
    top: calc(50% - 25px);
    transform: translate(0, -50%);
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__promo__info__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__promo__menu--bottom {
    bottom: 70px;
}

.home__promo__social {
    position: absolute;
    right: 0;
    top: 50%;

    transform: translate(0, -50%);
}

.home__promo__social__inner {
    display: flex;
    flex-direction: column;
}

.home__promo__social a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 7px;
    margin: 10px 0;
}

.home__promo__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home__promo__image {
    height: 100%;
}

.title_x__home--mobile {
    display: none;
}

.home__promo__menu--top .home__promo__menu__item__image:before {
    background: linear-gradient(180deg, #FB678D 0%, rgba(255, 166, 202, 0) 53.81%);
}

.home__promo__video {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.home__promo__video:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.home__promo__video video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}


@media screen and (max-width: 1850px) {

    .home__promo__social {
        right: 20px;
    }

    .home__promo__menu_btn {
        right: 20px;
    }

    .home__promo__logo {
        left: 20px;
    }
}



.home__promo__menu__item {
    padding: 13px;
    margin: 0 5px;
}

.home__promo__menu__item__title {
    font-size: 14px;
}



@media screen and (max-height:800px) {
    .home__promo__info__title {
        font-size: 58px;
        max-width: 1000px;
    }

    .btn_home__promo {
        padding: 15px 40px;
    }
}

@media screen and (max-width:1350px) {
    .home__promo__info__title {
        font-size: 46px;
        line-height: 1.25;
        max-width: 720px;
    }

    .btn_home__promo {
        padding: 14px 38px 17px;
    }

    .home__promo {
        min-height: 850px;
    }

    .home__promo__menu {
        right: 130px;
        left: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .home__promo__logo {
        width: 75px;
        top: 20px;
    }

    .home__promo__menu_btn {
        top: 40px;
        width: 55px;
    }

    .home__promo__menu--top {
        top: 130px;
    }

    .home__promo__menu {
        left: 20px;
        right: 20px;
    }

    .home__promo__info {
        top: calc(50% + 10px);
    }

    .home__promo {
        min-height: 925px;
    }

    .home__promo__info__title {
        font-size: 40px;
        padding: 0 60px;
    }

    .btn__x.btn_home__promo {
        max-width: 300px;
        padding: 14px 38px 17px;
    }

    .title_x.title_x__home {
        font-size: 28px;
        margin-bottom: 22px;
    }

    .home__info__about__name {
        font-size: 22px;
    }

    .home__info__about__add__info {
        font-size: 14px;
    }


    .home__image {
        width: 300px;
    }

    .home__image:before,
    .home__image:after {
        width: 45px;
    }

    .home__info__wrap {
        margin: 55px 0 90px;
    }
}

@media screen and (max-width: 800px) {
    .title_x.title_x__home {
        margin-top: 50px;
        margin-bottom: 0;
    }

    .title_x__home--mobile {
        display: block;
    }

    .title_x__home--desktop {
        display: none;
    }

    .home__info__wrap {
        flex-direction: column;
    }

    .home__image {
        order: -1;
        max-width: 240px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 25px;
    }

    .home__info {
        padding-right: 0;
        margin: 0 auto;
        max-width: 450px;
    }

    .home__info__about__name {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .home__info__about__add__info {
        font-weight: 500;
        max-width: 400px;
        margin-bottom: 15px;
    }

    .home__info__text {
        font-size: 14px;
    }

    .home__info__btn__wrap {
        margin-top: 40px;
        max-width: 380px;
        margin: 40px auto 0;
    }

    .btn__x {
        padding: 16px;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        justify-content: center;
        max-width: 350px;
    }

    .home__promo__logo {
        width: 55px;
        top: 0;
        left: 0;
    }

    .home__promo__menu_btn {
        width: 32px;
        top: 12px;
        right: 0;
    }

    .home__promo .container {
        width: calc(100% - 30px);
        margin: 15px auto;
        padding: 0;
        padding-top: 115px;
        position: relative;
        padding-bottom: 90px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .home__promo__menu--top {
        top: 155px;
        right: 0;
        left: 0;
    }

    .home__promo__menu__item {
        background: rgba(255, 166, 202, 0.3);
        border: 1px solid #FFFFFF;
        border-radius: 85px;
        font-weight: 500;
        flex: 1 0 120px;
        margin: 5px;
        max-width: 100%;
        padding: 12px 5px;
    }

    .home__promo__menu__item__title {
        font-weight: 500;
        font-size: 15px;
    }

    .home__promo__menu {
        flex-wrap: wrap;
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        width: 100%;
    }

    .home__promo__social {
        top: 7px;
        left: 50%;
        right: auto;
        transform: translate(-50%, 0);

    }

    .home__promo__social__inner {
        flex-direction: row;
    }


    .home__promo__social a {
        margin: 0 6px;
    }

    .home__promo__info__title {
        margin-bottom: 18px;
        font-size: 24px;
        padding: 0;
        max-width: 400px;
    }

    .home__promo__info__title em {
        color: #fb678d;
    }

    .btn__x.btn_home__promo {
        max-width: 320px;
        padding: 13px;
        font-size: 15px;
    }

    .home__promo {
        min-height: 600px;
    }

    .home__promo__info {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        margin: 32px 0;
        transform: none;
    }

    .home__promo__menur {
        left: auto;
        right: auto;
        bottom: auto;
        top: auto;
    }

    .home__promo__image {
        position: absolute;
        top: -15px;
        left: 0;
        right: 0;
        bottom: -15px;
        height: auto;
    }

    .home__promo__menu__item__image {
        display: none;
    }

    .home__promo__menu__item:hover .home__promo__menu__item__title {
        transform: none !important;
    }

    .home__promo__menu__item:hover {
        background: #fb678d;
    }
}
@media screen and (max-width: 375px) {
    .home__promo__menu__item__title {
        font-size: 11.5px;
    }

    .home__promo__menu__item {
        padding: 9px 0;
    }
    .btn__x.btn_home__promo {
        font-size: 14px;
        padding: 8px 10px 13px;
    }

    .home__promo__info__title {
        font-size: 21.5px;
    }

    .home__promo__info {
        margin: 15px 0;
    }
}
@media screen and (max-width: 315px) {
    .home__promo {
        height: auto;
    }

    .home__promo .container {
        padding-bottom: 45px;
    }
}
